div{
    border: 2px solid beige;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 3em;
    background-color:whitesmoke;
}
.im{
    margin-left: 38%;
}
.img{
    margin-left: 27%;
}
.ima{
    margin-right: 1%;
}
.h3{
    margin-left: 30%;
}