 <div>
    <h5>
    <img src="https://previews.123rf.com/images/sergeypykhonin/sergeypykhonin1809/sergeypykhonin180900041/108230283-registration-register-logo-or-label-diary-note-icon-vector-illustration.jpg" height="40em" width="80em" style="margin-right: 2em;margin-top: 1em;margin-bottom: 1em;">  
   <a routerLink="/"> <b> HOME</b></a>
    <a routerLink="books"> <b>BOOKS</b> </a>
    <a routerLink="authors"> <b>AUTHORS</b> </a>
    <a routerLink="signup"> <b>SIGNUP</b> </a>
    <a routerLink="login"> <b>LOGIN</b> </a>
    <!-- <a routerLink="addbook"> <b>ADDBOOK</b> </a> -->
    <!-- <a routerLink="addauthor"> <b>ADDAUTHOR</b> </a> -->
    <!-- <a routerLink="deletebook"> <b>DELBOOK</b> </a> -->
    <!-- <a routerLink="deleteauthor"> <b>DELAUTHOR</b> </a> -->


    </h5>
 </div>
